<div class="auth-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="username" placeholder="Username" formControlName="username" />
    <input type="password" placeholder="Password" formControlName="password" />
    <input
      type="password"
      placeholder="Confirm Password"
      formControlName="confirmpassword"
    />
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
